/* >>>>> Start Auth Section ---------- */
.auth-illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  gap: 24px;
}

.auth-illustration img {
  width: 65%;
  object-fit: contain;
}

.auth-illustration h5 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font16);
  color: var(--secondary-black);
}

.auth-illustration h5 a {
  font-weight: 600;
  color: var(--brand-color-100);
}

.auth-illustration h5 a:hover {
  color: #42af6c;
}

.auth-wrapper {
  background: var(--white);
  padding: 40px 32px;
  border-radius: 24px;
  border: 1px solid var(--border-color);
  min-height: 550px;

}

.auth-wrapper h1 {
  font-weight: 600;
  font-size: var(--font28);
  color: var(--primary-black);
  margin-bottom: 16px;
}

.auth-wrapper p {
  font-size: var(--font16);
  color: var(--secondary-black);
  margin-bottom: 3rem;
}

.auth-wrapper .forgot-password {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: var(--font14);
  color: var(--secondary-black);
  margin-top: 16px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.auth-wrapper .forgot-password:hover {
  color: var(--brand-color-100);
}

/* >>----- Start Wizard Area */
ul.form-stepper {
  counter-reset: section;
  margin-bottom: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 16px;
}

ul.form-stepper .single-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.form-stepper .form-stepper-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.form-stepper li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul.form-stepper li:not(:last-child):after {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 5px;
  content: "";
  top: 32%;
  border-radius: 100px;
}

ul.form-stepper li:after {
  margin: 0px 16px;
  background-color: #D7F5E3;
}

ul.form-stepper li.form-stepper-completed:after {
  height: 5px;
  background-color: var(--brand-color-100);
}

ul.form-stepper li:last-child {
  flex: unset;
}

ul.form-stepper li .form-stepper-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--white);
  border: 6px solid #D7F5E3;
  background-color: #B0EBC7;
  border-radius: 100%;
  cursor: pointer;
}

.form-stepper .form-stepper-active .form-stepper-circle {
  background-color: var(--brand-color-100) !important;
  color: var(--white);
}

.form-stepper .label {
  color: var(--primary-black);
  font-size: var(--font12);
  margin-top: 8px;
}

.form-stepper .form-stepper-active .label {
  color: var(--brand-color-100);
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
  color: var(--white) !important;
  background-color: #B0EBC7;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
  background-color: var(--brand-color-100) !important;
  color: var(--white);
}

.form-stepper .form-stepper-completed .label {
  color: var(--brand-color-100);
}

.form-stepper .form-stepper-active span.text-muted {
  color: var(--white) !important;
}

.form-stepper .form-stepper-completed span.text-muted {
  color: var(--white) !important;
}

.form-stepper a {
  cursor: default;
}

.step-details {
  display: block;
}

.step-details .d-none {
  display: none;
}

.step-details .btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* <<----- End Wizard Area */

/* <<<<< End Auth Section ---------- */






/* -->Master--------> Start Category Sidebar Area <<<<< */
.menu-sidebar {
  overflow-y: auto;
  width: 350px;
  height: 100%;
  padding: 24px 16px;
  background-color: var(--white);
  border-radius: 12px 12px 0px 0px;
  transition: left 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.menu-sidebar.landing {
  display: none;
}

.show-hide {
  display: none;
}

.menu-sidebar .header-mobile {
  display: none;
}

/* --Sidebar Inner--*/
#student-menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#student-menu-wrapper .single-menu {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: var(--font14);
  color: var(--primary-black);
  border: none;
  outline: none;
  box-shadow: none;
  background-color: var(--white);
}

#student-menu-wrapper .single-menu:hover {
  color: var(--brand-color-100) !important;
  background-color: var(--brand-color-25);
  border-radius: 8px;
}

#student-menu-wrapper .single-menu.active {
  color: var(--white) !important;
  background-color: var(--brand-color-100);
  border-radius: 8px;
}

#student-menu-wrapper .single-menu .menu-icon {
  background-color: var(--brand-color-15);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 8px;
  margin-right: 12px;
  padding: 4px;
}

@media (max-width: 992px) {
  .menu-sidebar.landing {
    display: block;
  }

  .menu-sidebar {
    display: block;
    background-color: var(--white);
    position: fixed;
    right: -300px;
    bottom: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 300px;
    z-index: 10000;
    overflow: visible;
    transition: right 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  .show-hide {
    display: block;
    right: 0;
  }

  .menu-sidebar .header-mobile {
    padding: 16px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--brand-color-100);
  }

  .menu-sidebar #student-menu-wrapper {
    padding: 16px;
  }

}

/*>>>>> End Category Sidebar Area <---------- */

/* >>>>> Start App Tutorial Area ---------- */
.step {
  width: 100vw;
  margin-top: 3rem
}

.step__wrapper {
  margin: 5rem 0;
  background-color: rgba(98, 214, 143, 0.1);
  padding: 80px 0;
  width: calc(100% - 10rem);
  margin: 0 auto;
  border-radius: 3rem
}

.step .section-heading {
  text-align: center;
  margin: 0 auto 5rem auto
}

.single-step {
  text-align: center
}

.single-step .image {
  width: 100%;
  filter: drop-shadow(0px 40px 20px rgba(98, 214, 143, 0.2));
  -webkit-filter: drop-shadow(0px 40px 20px rgba(98, 214, 143, 0.2));
  -moz-filter: drop-shadow(0px 40px 20px rgba(98, 214, 143, 0.2));
  margin-bottom: 40px;
}

.single-step .content {
  margin-top: 16px;
}

.single-step .content h3 {
  font-size: var(--font18);
  font-weight: 600;
  color: var(--brand-color-100);
  margin-bottom: 16px;
}

.single-step .content h3 span {
  display: block;
  font-size: var(--font24);
  color: var(--primary-black);
}

.single-step .content p {
  color: var(--primary-black);
  font-size: var(--font14);
  width: 94%
}

@media (max-width: 991.98px) {
  .step__wrapper {
    padding: 5rem 0
  }

  .single-step .image img {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    width: auto;
    margin: 0 auto
  }

  .single-step .content {
    margin: 0
  }

  .single-step .content .paragraph {
    width: 60%;
    margin: 0 auto
  }
}

@media (max-width: 768px) {
  .step__wrapper {
    width: calc(100% - 5rem);
    padding: 5rem 2rem
  }
}

/*>>>>> End App Tutorial Area <---------- */

/* >>>>> Start App Promo Area ---------- */
.app-promo {
  padding: 80px 0;
  position: relative;
  background-color: var(--white);
}

.app-promo img.app-mockup {
  -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
  animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
}

.app-promo h5 {
  color: var(--primary-black);
  font-size: var(--font28);
  margin-top: 40px;
  margin-bottom: 40px;
}

.app-promo p {
  margin: 0;
  color: var(--secondary-black);
  font-size: var(--font16);
}

.app-promo ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px 0;
}

.app-promo ul li {
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--font16);
  color: var(--secondary-black);
  padding-left: 32px;
}

.app-promo ul li span {
  color: var(--brand-color-100);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*>>>>> End App Promo Area <---------- */



/*>>>>> Start About Promo Area <---------- */
.cta-two {
  padding: 80px 0;
}

.cta-two__moc {
  width: 100%;
  -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
  animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
}

.cta-two h5 {
  color: var(--primary-black);
  font-size: var(--font28);
  margin-top: 40px;
  margin-bottom: 40px;
}

.cta-two p {
  margin: 0;
  color: var(--secondary-black);
  font-size: var(--font16);
}

/*>>>>> End About Promo Area <---------- */

/*>>>>> Start FAQ Section Area <---------- */
.faq-section {
  padding: 80px 0;
}

.faq-section .accordion-item {
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  background-color: rgba(98, 214, 143, 0.2);
  margin-bottom: 12px;
  border-radius: 12px !important;
  border: none;
  padding: 12px;
}

.faq-section .accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
}

.faq-section .accordion-button {
  color: var(--primary-black);
  font-weight: 600;
  font-size: var(--font16);
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 0px;
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.faq-section .accordion-button:hover {
  z-index: 2;
}

.faq-section .accordion-button:not(.collapsed) {
  color: var(--brand-color-100);
  box-shadow: none;
  border-color: transparent;
}

.faq-section .accordion-button:focus {
  box-shadow: none;
}

.faq-section .accordion-body {
  color: var(--primary-black);
  font-size: var(--font14);
  padding: 16px;
  background-color: var(--white);
  border-radius: 12px;
}

/*>>>>> End FAQ Section Area <---------- */

.profileTab {
  padding: 0px 16px 16px 16px;
}

.profileTab .nav-tabs {
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 16px;
}

.profileTab .nav-tabs .nav-item .nav-link,
.profileTab .nav-tabs .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: var(--font14);
  color: var(--primary-black);
  background-color: transparent;
  border: none;
  padding: 16px 24px;
}

.profileTab .nav-tabs .nav-item.show .nav-link,
.profileTab .nav-tabs .nav-link.active {
  color: var(--brand-color-100);
  position: relative;
}

.profileTab .nav-tabs .nav-item.show .nav-link::after,
.profileTab .nav-tabs .nav-link.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  bottom: -4px;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: var(--brand-color-100);
}

.inner-content {
  height: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}











































.questions {
  width: 100vw
}

.questions__wrapper {
  background-color: #fef2f6;
  padding: 15rem 0;
  width: calc(100% - 10rem);
  margin: 0 auto;
  border-radius: 3rem
}

.questions .section-heading {
  width: 50%
}

.questions .card {
  background-color: transparent;
  border: 0
}

.questions .card .card-header {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  position: relative
}

.questions .card .card-header h5 button {
  font-size: 2.2rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  letter-spacing: -.02rem;
  line-height: 3rem;
  position: relative
}

.questions .card .card-header h5::before {
  content: "\f056";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 2.2rem;
  color: #f41a77;
  position: absolute;
  top: 50%;
  left: -1.2rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: inline-block
}

.questions .card .card-header h5.hidden::before {
  content: "\f055"
}

.questions .card .card-body {
  background-color: white;
  border-radius: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 4.2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem
}

.questions .card .card-body::before {
  content: "";
  width: 4.8rem;
  height: 2.2rem;
  background: url(../images/arrow.png) no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: -2rem;
  left: 5rem
}

.questions .card .card-body .paragraph {
  color: #474b4c
}

.questions-img {
  display: flex;
  text-align: right;
  position: relative;
  align-items: center;
  justify-content: center;
}

.questions-img img {
  height: 30%;
  z-index: 10;
  position: relative;
  filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
  -webkit-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
  -moz-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2))
}

.questions-img::before {
  content: "";
  display: block;
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #f2026b;
  background: linear-gradient(45deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
  background-size: 200% 200%;
  background-position: left bottom;
  filter: drop-shadow(0px 5px 40px #f54590);
  -webkit-filter: drop-shadow(0px 5px 40px #f54590);
  -moz-filter: drop-shadow(0px 5px 40px #f54590);
  -webkit-animation-name: animateGradient;
  animation-name: animateGradient;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

@media (max-width: 991.98px) {
  .questions-img {
    text-align: center
  }

  .questions .section-heading {
    width: 100%
  }
}

@media (max-width: 991.98px) {
  .questions-img {
    width: 100%
  }

  .questions-img::before {
    -webkit-transform: scale(0.8) translate(-50%, 0);
    transform: scale(0.8) translate(-50%, 0);
    top: 0;
    left: 40%
  }

  .questions #accordion {
    padding: 0 2rem;
    margin-top: 5rem
  }
}

@media (max-width: 767.98px) {
  .questions__wrapper {
    width: calc(100% - 5rem);
    padding: 5rem 2rem
  }

  .questions-img {
    width: 100%
  }

  .questions-img::before {
    -webkit-transform: scale(0.6) translate(-50%, 0);
    transform: scale(0.6) translate(-50%, 0);
    top: 0;
    left: 22.5%
  }
}

@media (max-width: 575.98px) {
  .questions #accordion {
    padding: 0 1rem
  }

  .questions .card-header {
    width: 100%;
    font-size: 1.2rem
  }

  .questions .card-header h5 {
    width: 100%;
    font-size: 1.2rem
  }

  .questions .card-header h5 button {
    width: 100%;
    text-align: left;
    white-space: normal;
    font-size: 1.8rem !important
  }

  .questions-img img {
    width: 50%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover
  }

  .questions-img::before {
    -webkit-transform: scale(1) translate(-50%, 0);
    transform: scale(1) translate(-50%, 0);
    top: 10%;
    left: 50%;
    width: 30rem;
    height: 30rem
  }
}


.fad.fa-lightbulb-on::before,
.fad.fa-search::before,
.fad.fa-angle-double-down::before {
  opacity: var(--fa-primary-opacity, 0.5)
}

.fad.fa-lightbulb-on::after,
.fad.fa-search::after,
.fad.fa-angle-double-down::after {
  opacity: var(--fa-secondary-opacity, 1)
}

.button {
  width: 27.1rem;
  height: 6.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 4px solid #c7dffa;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #666b6d;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  letter-spacing: .1rem
}

.button i {
  margin-left: 1rem;
  -webkit-transition: all .25s ease;
  transition: all .25s ease
}

.button:focus,
.button:hover {
  background-color: #c7dffa;
  color: white;
  outline: 0
}

.button:focus i,
.button:hover i {
  color: white
}

.button__wrapper {
  margin: 0 auto
}

.button__wrapper .button:nth-child(n+2) {
  margin-left: 1.8rem
}

@media (max-width: 650px) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto
  }

  .button__wrapper {
    width: 100%
  }

  .button__wrapper .button:nth-child(n+2) {
    margin: 1rem auto 0 auto
  }
}

.social ul li {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-size: 200% 200% !important;
  background-position: center bottom !important;
  -webkit-transition: all .25s ease;
  transition: all .25s ease
}

.social ul li:nth-child(n+2) {
  margin-left: .4rem
}

.social ul li.facebook {
  background: #9341d4;
  background: -webkit-gradient(linear, left bottom, left top, from(#9341d4), color-stop(50%, #d98efb), to(#9341d4));
  background: linear-gradient(0deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
  filter: drop-shadow(0px 5px 5px rgba(147, 65, 212, 0.4));
  -webkit-filter: drop-shadow(0px 5px 5px rgba(147, 65, 212, 0.4));
  -moz-filter: drop-shadow(0px 5px 5px rgba(147, 65, 212, 0.4))
}

.social ul li.twitter {
  background: #ffb16b;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffb16b), color-stop(50%, #ffdb8d), to(#ffb16b));
  background: linear-gradient(0deg, #ffb16b 0%, #ffdb8d 50%, #ffb16b 100%);
  filter: drop-shadow(0px 5px 5px rgba(212, 154, 93, 0.4));
  -webkit-filter: drop-shadow(0px 5px 5px rgba(212, 154, 93, 0.4));
  -moz-filter: drop-shadow(0px 5px 5px rgba(212, 154, 93, 0.4))
}

.social ul li.linkedin {
  background: #19a5a1;
  background: -webkit-gradient(linear, left bottom, left top, from(#19a5a1), color-stop(50%, #63e8e4), to(#19a5a1));
  background: linear-gradient(0deg, #19a5a1 0%, #63e8e4 50%, #19a5a1 100%);
  filter: drop-shadow(0px 5px 5px rgba(108, 222, 220, 0.4));
  -webkit-filter: drop-shadow(0px 5px 5px rgba(108, 222, 220, 0.4));
  -moz-filter: drop-shadow(0px 5px 5px rgba(108, 222, 220, 0.4))
}

.social ul li.youtube {
  background: #f2026b;
  background: -webkit-gradient(linear, left bottom, left top, from(#f2026b), color-stop(50%, #ff8aaf), to(#f2026b));
  background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
  filter: drop-shadow(0px 5px 5px rgba(245, 69, 144, 0.4));
  -webkit-filter: drop-shadow(0px 5px 5px rgba(245, 69, 144, 0.4));
  -moz-filter: drop-shadow(0px 5px 5px rgba(245, 69, 144, 0.4))
}

.social ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2rem;
  color: white
}

.social ul li:hover {
  background-position: center top !important
}

.download-buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 24.4rem;
  height: 8.1rem;
  background-color: grey;
  border-radius: 5rem;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  background-size: 200% 200% !important;
  background-position: center bottom !important
}

.download-buttons a i {
  font-size: 3.4rem;
  color: white
}

.download-buttons a .button-content {
  margin-left: 1.3rem;
  letter-spacing: .1rem
}

.download-buttons a .button-content h6 {
  font-size: 1.2rem;
  color: #ffd4e3
}

.download-buttons a .button-content span {
  display: block;
  font-size: 2rem;
  color: white;
  margin-top: .2rem;
  letter-spacing: initial
}

.download-buttons a:last-child .button-content h6 {
  color: #bbdef9
}

.download-buttons a.google-play {
  background: #f2026b;
  background: -webkit-gradient(linear, left bottom, left top, from(#f2026b), color-stop(50%, #ff8aaf), to(#f2026b));
  background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
  filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
  -webkit-filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
  -moz-filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4))
}

.download-buttons a.apple-store {
  background: #1369ec;
  background: -webkit-gradient(linear, left bottom, left top, from(#1369ec), color-stop(50%, #65bef4), to(#1369ec));
  background: linear-gradient(0deg, #1369ec 0%, #65bef4 50%, #1369ec 100%);
  filter: drop-shadow(0px 10px 10px rgba(33, 120, 237, 0.4));
  -webkit-filter: drop-shadow(0px 10px 10px rgba(33, 120, 237, 0.4));
  -moz-filter: drop-shadow(0px 10px 10px rgba(33, 120, 237, 0.4))
}

.download-buttons a:hover {
  background-position: center top !important
}



.feature {
  width: 100vw;
  padding: 15rem 0
}

.feature .section-heading {
  margin-bottom: 5rem
}

.feature__box {
  -webkit-transition: all .25s ease;
  transition: all .25s ease
}

.feature__box--2,
.feature__box--4 {
  margin-top: 10rem
}

.feature__box--2:hover,
.feature__box--4:hover {
  margin-top: 0
}

.feature__box--1:hover,
.feature__box--3:hover {
  margin-top: 10rem
}

.feature__box--1 .feature__box__wrapper {
  background-color: #efdff7
}

.feature__box--2 .feature__box__wrapper {
  background-color: #ffe8c6
}

.feature__box--3 .feature__box__wrapper {
  background-color: #d0f3f2
}

.feature__box--4 .feature__box__wrapper {
  background-color: #ffdae8
}

.feature__box .icon {
  width: 24.2rem;
  height: 24.2rem;
  margin: 0 auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.feature__box .icon-1 {
  background: #9341d4;
  background: linear-gradient(45deg, #9341d4 0%, #d98efb 100%);
  filter: drop-shadow(0px 40px 15px rgba(147, 65, 212, 0.4));
  -webkit-filter: drop-shadow(0px 40px 15px rgba(147, 65, 212, 0.4));
  -moz-filter: drop-shadow(0px 40px 15px rgba(147, 65, 212, 0.4))
}

.feature__box .icon-2 {
  background: #ffdb8d;
  background: linear-gradient(45deg, #ffb16b 0%, #ffdb8d 100%);
  filter: drop-shadow(0px 40px 15px rgba(255, 186, 114, 0.4));
  -webkit-filter: drop-shadow(0px 40px 15px rgba(255, 186, 114, 0.4));
  -moz-filter: drop-shadow(0px 40px 15px rgba(255, 186, 114, 0.4))
}

.feature__box .icon-3 {
  background: #63e8e4;
  background: linear-gradient(45deg, #19a5a1 0%, #63e8e4 100%);
  filter: drop-shadow(0px 40px 15px rgba(79, 188, 186, 0.4));
  -webkit-filter: drop-shadow(0px 40px 15px rgba(79, 188, 186, 0.4));
  -moz-filter: drop-shadow(0px 40px 15px rgba(79, 188, 186, 0.4))
}

.feature__box .icon-4 {
  background: #ff8aaf;
  background: linear-gradient(45deg, #f2026b 0%, #ff8aaf 100%);
  filter: drop-shadow(0px 40px 15px rgba(245, 69, 144, 0.4));
  -webkit-filter: drop-shadow(0px 40px 15px rgba(245, 69, 144, 0.4));
  -moz-filter: drop-shadow(0px 40px 15px rgba(245, 69, 144, 0.4))
}

.feature__box .icon i {
  font-size: 8rem;
  color: white
}

.feature__box__wrapper {
  width: 100%;
  padding: 5.7rem .5rem .5rem .5rem;
  border-radius: 2.5rem;
  margin-top: 5rem
}

.feature__box--content {
  background-color: white;
  position: relative;
  padding: 3.7rem 2rem 2.1rem 2rem;
  border-radius: 2rem;
  text-align: center
}

.feature__box--content::before {
  content: "";
  width: 4.8rem;
  height: 2.2rem;
  background: url(../images/arrow.png) no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%)
}

.feature__box--content h3 {
  font-size: 2.2rem;
  font-weight: 600;
  width: 80%;
  margin: 0 auto 3.4rem auto
}

@media (max-width: 991.98px) {
  .feature__box {
    margin-top: 5rem !important
  }
}

@media (max-width: 575.98px) {
  .feature {
    padding: 10rem 2rem
  }
}

/*--==========>>>>> Start Breadcrumbs Area --*/
.breadcrumbs {
  border-bottom: 1px solid var(--border-color);
  padding: 20px 16px;
}

.breadcrumbs .bread-list {
  display: flex;
  align-items: center;
  margin: 0px;
}

.breadcrumbs .bread-list li {
  display: flex;
  align-items: center;
}

.breadcrumbs .bread-list li span {
  margin: 0px 10px;
  font-size: var(--font18);
  font-weight: 600;
  color: var(--primary-black);
}

.breadcrumbs .bread-list li a {
  color: var(--primary-black);
  font-size: var(--font14);
  font-weight: 400;
  text-transform: capitalize;
}

.breadcrumbs .bread-list li.active a {
  color: var(--brand-color-100);
}

.breadcrumbs .bread-list li a:hover {
  color: var(--brand-color-100);
}

/*-- End Breadcrumbs Area <<<<<==========--*/

/*--==========>>>>> End Profile Card Area --*/
.profile-card {
  background: var(--goldish-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.profile-card .user-img {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid var(--brand-color-100);
  overflow: hidden;
}

.profile-card .user-img img {
  height: 100%;
  width: 100%;
}

.profile-card .user-img input[type=file] {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 8px 0px;
  z-index: 2;
  opacity: 0;
}

.profile-card .user-img .upload-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 8px 0px;
  font-size: var(--font14);
  font-weight: 600;
  color: var(--primary-black);
  background-color: var(--brand-color-100);
  z-index: 1;
  opacity: .8;
}

.profile-card .user-name {
  margin-top: 15px;
  font-size: var(--font16);
  color: var(--primary-black);
}

/*-- End Profile Card Area <<<<<==========--*/


.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

.empty-state .illustration {
  height: 350px;
  width: 350px;
  margin-bottom: 15px;
}

.empty-state h5 {
  color: var(--primary-black);
  font-size: var(--font18);
}

/*-- End Empty State Area <<<<<==========--*/

.terms-header {
  font-size: var(--font22);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--black);
  padding: 30px 0;
  margin-top: -30px;
}

.terms-content h5 {
  font-weight: 600;
  font-size: var(--font16);
  color: var(--primary-black);
  line-height: 30px;
  margin-top: 30px;
}

.terms-content p {
  font-size: var(--font14);
  color: var(--primary-black);
  line-height: 30px;
}

/*-- End Trams & Condition Area <<<<<==========--*/


.thm-btn {
  border: none;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  font-size: var(--font16);
  font-weight: 500;
  color: var(--primary-black);
  padding: 13px 41px;
  border-radius: 4px;
  -webkit-transition: background .4s ease, color .4s ease;
  transition: background .4s ease, color .4s ease;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff4eb5), to(#ffa065));
  background-image: linear-gradient(90deg, #ff4eb5 0%, #ffa065 100%);
  position: relative;
}

.thm-btn:before {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 4px;
  background-color: var(--white);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.thm-btn span {
  position: relative;
}

.thm-btn:hover {
  color: var(--white);
}

.thm-btn:hover:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}














.notice-details {
  width: 100%;
  position: relative;
}

.notice-details:hover .notice-content {
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.03);
}

.notice-content {
  border: 1px solid #eedcb3;
  background-color: #fefbf4;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 16px 24px;
}

.notice-info {
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.notice-info li {
  display: flex;
  align-items: center;
}

.notice-info li a {
  font-size: var(--font14);
  color: var(--secondary-black);
  font-weight: 500;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.notice-info li a:hover {
  color: var(--brand-color-100);
}

.notice-details .notice-title {
  font-size: var(--font22);
  color: var(--primary-black);
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 24px;
}

.notice-details p {
  margin-bottom: 0;
  font-size: var(--font14);
  color: var(--primary-black);
  line-height: 34px;
}

.notice-details p+p {
  margin-top: 24px;
}

.notice-details img {
  width: 100%;
  margin-bottom: 24px;
}

/*
* 5. sidebar styles
*/
@media (max-width: 991px) {
  .sidebar {
    margin-top: 50px;
  }
}

.sidebar__title {
  margin: 0;
  color: #2a2833;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.sidebar__single:not(.sidebar__search) {
  padding: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
  border-radius: 5px;
}

@media (max-width: 1199px) {
  .sidebar__single:not(.sidebar__search) {
    padding: 30px;
  }
}

.sidebar__single+.sidebar__single {
  margin-top: 30px;
}

.sidebar__post__single+.sidebar__post__single {
  margin-top: 30px;
}

.sidebar__post-image,
.sidebar__post-content {
  display: table-cell;
  vertical-align: middle;
}

.sidebar__post-image {
  width: 60px;
}

.sidebar__post-image .inner-block {
  width: 100%;
}

.sidebar__post-image .inner-block>img {
  width: 100%;
  border-radius: 50%;
}

.sidebar__post-content {
  padding-left: 20px;
}

.sidebar__post-title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #74727a;
}

.sidebar__post-title a {
  color: inherit;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.sidebar__post-title a:hover {
  color: #2a2833;
}

.sidebar__category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__category-list-item {
  line-height: 1em;
}

.sidebar__category-list-item a {
  color: #74727a;
  font-size: 16px;
  font-weight: 400;
  display: block;
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.sidebar__category-list-item a:before {
  content: '\f105';
  font-family: 'FontAwesome';
  color: #7b7b8c;
  font-weight: 900;
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.sidebar__category-list-item a:hover {
  color: #ff4eb5;
}

.sidebar__category-list-item+.sidebar__category-list-item {
  margin-top: 27px;
}

.sidebar__tags-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -10px;
}

.sidebar__tags-list-item {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}

.sidebar__tags-list-item a {
  display: block;
  color: #74727a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.sidebar__tags-list-item a:hover {
  color: #ffa065;
}

.sidebar__search-form {
  width: 100%;
  height: 83px;
  background-image: linear-gradient(40deg, #ff4eb5 0%, #ffa065 100%);
  position: relative;
  border-radius: 5px;
}

.sidebar__search-form input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}

.sidebar__search-form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.sidebar__search-form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.sidebar__search-form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.sidebar__search-form input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.sidebar__search-form button[type=submit] {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.sidebar__search-form button[type=submit] i {
  font-size: 16px;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}




/*--==========>>>>> Start Modal Section Area --*/
#studentRegistration-modal .modal-dialog {
  max-width: 540px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0px;
}

.modal-body .btn-close {
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  top: 15px;
  right: 15px;
}

.modal-header {
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header .modal-title {
  font-size: var(--font18);
  color: var(--primary-black);
}

.modal-header button {
  color: var(--secondary-black);
  font-size: var(--font12);
  color: var(--primary-black);
  background-color: transparent;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.modal-header button:hover {
  background-color: var(--border-color);
  color: var(--primary-black);
}

.modal-content .modal-body {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-footer {
  padding: 16px;
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-- Start Authentication Modal Area --*/


/*--------- Start Slab Discount List Table Area ---------*/
.feeList-table {
  display: flex;
  flex-direction: column;
  empty-cells: show;
  border-spacing: 0;
  box-sizing: border-box;
  height: 100%;
}

.feeList-table tr {
  width: 100%;
  display: flex;
}

.feeList-table td,
.feeList-table th {
  flex-grow: 1;
  display: block;
  padding: 0rem 1rem;
}

/* Start Table Head Area */
.feeList-table thead {
  position: relative;
  display: block;
  width: 100%;
}

.feeList-table thead tr {
  min-height: 48px;
  font-size: var(--font14);
  text-transform: uppercase;
  color: var(--brand-color-100);
  border-bottom: 1px solid var(--border-color);
}

.feeList-table thead tr th {
  min-height: 48px;
  display: flex;
  align-items: center;
}

/* Start Table Body Area */
.feeList-table tbody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  font-size: var(--font14);
  color: var(--primary-black);
  height: 200px;
}

.feeList-table tbody tr {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 48px;
  border-bottom: 1px solid var(--border-color);
}

.feeList-table tbody tr td {
  display: flex;
  align-items: center;
  min-height: 48px;
}

/* Start Table Alignment Area*/
.feeList-table thead th:nth-child(1),
.feeList-table tbody td:nth-child(1) {
  flex-basis: 30%;
  display: flex;
  justify-content: start;
}

.feeList-table thead th:nth-child(2),
.feeList-table tbody td:nth-child(2) {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
}

.feeList-table thead th:nth-child(3),
.feeList-table tbody td:nth-child(3) {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
}

.feeList-table thead th:nth-child(4),
.feeList-table tbody td:nth-child(4) {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
}

.feeList-table thead th:nth-child(5),
.feeList-table tbody td:nth-child(5) {
  flex-basis: 10%;
  display: flex;
  justify-content: flex-end;
}



















.payment-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  background-color: var(--border-color);
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
}

.payment-card .card-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--brand-color-100);
  padding: 24px 16px;
  border-radius: 12px;
}

.payment-card .card-header h1 {
  font-size: var(--font28);
  color: var(--white);
}

.payment-card .card-header h1 span {
  margin-right: 4px;
}

.payment-card .card-header p {
  font-size: var(--font18);
  color: var(--primary-black);
}

.payment-card .card-header h1 span {
  color: var(--white);
  margin-right: 4px;
}

.payment-card .card-invoice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font14);
  color: var(--secondary-black);
}

.payment-card .card-invoice span {
  color: var(--primary-black);
}



/*--------- Start Slab Discount List Table Area ---------*/
.viewData-table {
  display: flex;
  flex-direction: column;
  empty-cells: show;
  border-spacing: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.viewData-table tr {
  width: 100%;
  display: flex;
}

.viewData-table td,
.viewData-table th {
  flex-grow: 1;
  display: block;
  padding: 0rem 1rem;
  font-size: var(--font14);
  text-transform: uppercase;
  color: var(--brand-color-100);
}

/* Start Table Head Area */
.viewData-table thead {
  position: relative;
  display: block;
  width: 100%;
}


.viewData-table thead tr th {
  min-height: 48px;
  display: flex;
  align-items: center;
}

/* Start Table Body Area */
.viewData-table tbody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  font-size: var(--font14);
  color: var(--primary-black);
  height: 100%;
}

.viewData-table tbody tr {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 48px;
  border-bottom: 1px solid var(--border-color);
}

.viewData-table tbody tr td {
  display: flex;
  align-items: center;
  min-height: 48px;
  font-size: var(--font14);
  color: var(--primary-black);
}

/* Start Table Alignment Area*/
.viewData-table thead th:nth-child(1),
.viewData-table tbody td:nth-child(1) {
  flex-basis: 50%;
  display: flex;
  justify-content: start;
}

.viewData-table thead th:nth-child(2),
.viewData-table tbody td:nth-child(2) {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}


