@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@-webkit-keyframes animateGradient {
    0% {
        background-position: left bottom
    }

    50% {
        background-position: right top
    }

    100% {
        background-position: left bottom
    }
}

@keyframes animateGradient {
    0% {
        background-position: left bottom
    }

    50% {
        background-position: right top
    }

    100% {
        background-position: left bottom
    }
}

:root {
    --brand-color: #52B69A;
    --white: #ffffff;
    --primary-black: #172B4D;
    --secondary-black: #71828A;
    --border-color: #e2edfa;
    --ice-white: #f1f6f7;
    --red: #df2a43;
    --redish-white: #f5bec6;
    --green: #28a411;
    --greenish-white: #d2fccc;
    --gray: #526471;
    --text-label: #36454f;
    --font22: 22px;
    --font20: 20px;
    --font18: 18px;
    --font16: 16px;
    --font14: 14px;
    --font12: 12px;
    --font10: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    font-size: 62.5%;
    overflow-x: hidden !important;
    letter-spacing: -.2px
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden !important
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

a,
a:hover {
    text-decoration: none;
}

ul {
    list-style: none
}

.section-heading {
    color: var(--primary-black);
    font-weight: 600;
    font-size: 4rem;
    width: 68%;
    line-height: -2rem
}

@media (max-width: 991.98px) {
    .section-heading {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto 5rem auto;
        width: 85%
    }
}

@media (max-width: 575.98px) {
    .section-heading {
        font-size: 2rem;
        width: 90%
    }
}

.paragraph {
    font-size: 1.6rem;
    line-height: 3rem
}

.paragraph.dark {
    color: var(--secondary-black)
}

.paragraph.white {
    color: var(--white)
}

.container {
    padding: 0
}

/* Header Section Start hare */
.header {
    position: absolute;
    top: 5rem;
    z-index: 100;
    background-color: transparent;
    padding: 3.6rem 0 5rem 0;
    width: 100%
}

.header.fixed {
    position: fixed;
    top: 0;
    background: linear-gradient(90.25deg, hsla(0, 0%, 98.8%, .35) 5.68%, hsla(0, 0%, 98.8%, .3) 143.91%);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    padding: 1rem 0rem;
    border-bottom: .5px solid var(--white);
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 60px;
    margin-right: 2rem;
}

.header-logo h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-black);
    padding: 0px;
    margin: 0px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-primary {
    margin-bottom: 0
}

.header-nav-primary>li {
    list-style: none;
    display: inline-block
}

.header-nav-primary>li:first-child a {
    font-weight: 800;
    color: var(--brand-color);
}

.header-nav-primary>li:nth-child(n+2) {
    margin-left: 3rem
}

.header-nav-primary>li>a {
    font-size: 1.6rem;
    color: var(--primary-black);
    font-weight: 500 !important
}

.dropdown-wrapper {
    position: relative;
    width: 27rem
}

.dropdown-wrapper .dropdown-box {
    border: 4px solid #f0f7fc;
    border-radius: 2rem;
    width: 100%;
    padding: 2rem;
    z-index: 1000;
    position: absolute;
    top: 10rem;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    background-color: white
}

.dropdown-wrapper .dropdown-box.shown {
    top: 8.5rem;
    visibility: visible;
    opacity: 1
}

.dropdown-wrapper .dropdown-box::before {
    content: "";
    display: block;
    position: absolute;
    background: url(../images/corner.png) no-repeat;
    width: 3.4rem;
    height: 4.3rem;
    background-size: cover;
    top: -2.2rem;
    right: -.4rem
}

.dropdown-wrapper .dropdown-box ul {
    background-color: white
}

.dropdown-wrapper .dropdown-box ul li {
    font-size: 1.6rem;
    color: #666b6d;
    border-radius: 2rem;
    position: relative;
    padding: 1rem 0 1rem 4.7rem;
    cursor: pointer;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.dropdown-wrapper .dropdown-box ul li>a {
    font-size: inherit;
    color: inherit;
    width: 100%
}

.dropdown-wrapper .dropdown-box ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 1.7rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: inline-block;
    color: #cacdce
}

.dropdown-wrapper .dropdown-box ul li:nth-child(n+2) {
    margin-top: 1rem
}

.dropdown-wrapper .dropdown-box ul li.selected,
.dropdown-wrapper .dropdown-box ul li:hover {
    color: #000;
    background-color: #f0f7fc;
    font-weight: 600
}

.dropdown-wrapper .dropdown-box ul li:hover::before {
    color: #f41976
}

.dropdown-wrapper .dropdown-info {
    cursor: pointer;
    border: 4px solid #f0f7fc;
    border-radius: 3rem;
    width: 100%;
    height: 6.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 3rem;
    z-index: 0
}

.dropdown-wrapper .dropdown-info h6 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #404243;
    width: 100%;
    height: 100%;
    line-height: 5.8rem
}

.dropdown-wrapper .dropdown-info i {
    font-size: 2rem;
    color: #969c9e;
    position: relative;
    right: 3rem
}

.header-nav .nav__dropdown {
    width: auto;
    z-index: 100
}

.header-nav .nav__dropdown-info {
    border: 0;
    width: auto;
    height: auto;
    border-radius: initial;
    padding-left: 0;
    margin: 0;
    z-index: 100;
    position: relative
}

.header-nav .nav__dropdown-box {
    width: 25rem;
    display: block;
    right: 0
}

.header-nav .nav__dropdown-box li a {
    font-size: 1.6rem;
    color: #666b6d;
    border-radius: 2rem;
    position: relative;
    padding: 1rem 0 1rem 2rem;
    cursor: pointer;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    display: block
}

.header-nav .nav__dropdown-box li:hover a {
    color: #000;
    background-color: #f0f7fc;
    font-weight: 600
}

.header-nav .nav__dropdown-box.shown {
    top: 0
}

.header__bars {
    width: 5rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: none;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid transparent
}

.header__bars::after {
    display: table;
    clear: both
}

.header__bars:hover {
    border: 1px solid white
}

.header__bars-bar {
    height: .2rem;
    display: block;
    background-color: #000;
    margin: .3rem 0;
    float: right
}

.header__bars-bar-1 {
    width: 100%
}

.header__bars-bar-2 {
    width: 70%
}

.header__bars-bar-3 {
    width: 40%
}

@media (min-width: 991.98px) {
    .header-nav-primary>li>a {
        position: relative
    }

    .header-nav-primary>li>a::before {
        content: "";
        display: block;
        width: 0;
        height: .15rem;
        background-color: var(--brand-color);
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%, 0);
        transform: translate(-50%, 0);
        -webkit-transition: all .25s ease;
        transition: all .25s ease
    }

    .header-nav-primary>li>a:hover::before {
        width: calc(100% - 2rem)
    }

    .header-nav .nav__dropdown-info::after {
        content: "";
        position: absolute;
        bottom: -2rem;
        width: 100%;
        height: 2rem;
        background-color: transparent;
        display: block
    }

    .header-nav .nav__dropdown-box.shown {
        top: 0rem !important;
        visibility: visible !important;
        opacity: 1 !important
    }

    .header-nav .nav__dropdown:hover .nav__dropdown-box {
        top: 0rem !important;
        visibility: visible !important;
        opacity: 1 !important;
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem)
    }
}

@media (max-width: 991.98px) {
    .header-wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 5rem
    }

    .header-nav {
        width: 100vw;
        height: 130vh;
        width: 100%;
        position: absolute;
        top: -5rem;
        right: 100%;
        overflow: hidden !important;
        background: #9341d4;
        background: linear-gradient(45deg, #9341d4 0%, #d98efb 100%);
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        padding-top: 15%
    }

    .header-nav ul {
        display: block;
        width: 100%;
        margin-top: 5rem
    }

    .header-nav li {
        display: block;
        width: 100%;
        -webkit-transition: all .25s ease;
        transition: all .25s ease
    }

    .header-nav li a {
        font-size: 2rem;
        padding: 2.1rem 4.4rem;
        display: block;
        width: 100%;
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        color: white
    }

    .header-nav li i {
        color: white
    }

    .header-nav li:nth-child(n+2) {
        margin-left: 0
    }

    .header-nav li:hover {
        background-color: white
    }

    .header-nav li:hover a,
    .header-nav li:hover i {
        color: #9341d4
    }

    .header-nav .nav__dropdown-info {
        padding-left: 4.4rem
    }

    .header-nav .nav__dropdown-box {
        position: absolute;
        width: 100%;
        border-radius: initial;
        border: 0
    }

    .header-nav .nav__dropdown-box::before {
        display: none
    }

    .header-nav .nav__dropdown-box li a {
        font-size: 1.8rem
    }

    .header-nav .nav__dropdown-box.shown {
        top: 2rem
    }

    .header-nav span {
        display: block
    }

    .header-nav-primary {
        margin-left: 0
    }

    .header__bars {
        display: block
    }
}

@media (max-width: 640px) {
    .header-wrapper {
        padding: 0 2rem
    }

    .header {
        position: fixed;
        top: 0;
        background: linear-gradient(90.25deg, hsla(0, 0%, 98.8%, .35) 5.68%, hsla(0, 0%, 98.8%, .3) 143.91%);
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        padding: 1rem 0rem;
        border-bottom: .5px solid #ffffff;
    }

    .header-logo h1 {
        font-size: 1.8rem;
        font-weight: 800;
        color: var(--primary-black);
        padding: 0px;
        margin: 0px;
    }
}

@media (min-width: 991.98px) and (max-width: 1126px) {
    .header-nav {
        margin-left: 0
    }

    .header-nav li a {
        padding: 0 2rem/2
    }
}

@media (min-width: 991.98px) and (max-width: 1270px) {
    .header .container {
        padding: 0 2rem
    }

    .header-nav-primary li:first-child {
        margin-right: 2rem
    }

    .header-nav-primary li:nth-child(n+3) {
        margin-left: 1.5rem
    }
}

@media (min-width: 991.98px) and (max-width: 1060px) {
    .header .container {
        padding: 0 4rem
    }
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guestuser-btn {
    padding: 0rem 3rem;
    height: 60px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #c7dffa;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--secondary-black);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    letter-spacing: .1rem;
    margin-left: 3rem;
}

/*>>>>> End Header Sction Area <---------- */