/* ----------> Start Hero Section Area <<<<<*/
.hero {
    width: 100vw;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper {
    width: calc(100% - 10rem);
    height: 100%;
    border-radius: 4rem;
    background-color: #f0f7fc;
    padding: 18rem 0 12rem 0;
}

.hero .main-heading {
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-black);
    width: 100%
}

.hero .paragraph {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--secondary-black);
    margin: 2rem 0 2rem 0
}

.hero-img {
    display: flex;
    text-align: right;
    position: relative;
    align-items: center;
    justify-content: center;
}

.hero-img img {
    width: 38%;
    z-index: 10;
    position: relative;
    filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -moz-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2))
}

.hero-img::before {
    content: "";
    display: block;
    position: absolute;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #62D68F;
    background: linear-gradient(180deg, #62D68F 0%, #1FB95B 100%);
    background-size: 200% 200%;
    background-position: left bottom;
    filter: drop-shadow(0px 5px 40px #62D68F);
    -webkit-filter: drop-shadow(0px 5px 40px #62D68F);
    -moz-filter: drop-shadow(0px 5px 40px #62D68F);
    -webkit-animation-name: animateGradient;
    animation-name: animateGradient;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@media (min-width: 991.98px) and (max-width: 1200px) {
    .hero-wrapper {
        padding: 18.4rem 1rem 9.9rem 1rem
    }

    .hero .main-heading {
        font-size: 3.5rem
    }

    .hero .paragraph {
        font-size: 2rem;
        line-height: 2rem
    }
}

@media (max-width: 991.98px) {
    .hero-wrapper {
        width: calc(100% - 5rem)
    }

    .hero .main-heading {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 3rem
    }

    .hero .paragraph {
        font-size: 2rem;
        line-height: 3.6rem;
        text-align: center
    }

    .hero-img {
        width: 100%;
        text-align: center;
    }

    .hero-img::before {
        -webkit-transform: scale(0.8) translate(-50%, 0);
        transform: scale(0.8) translate(-50%, 0);
        top: 0;
        left: 40%
    }

}

@media (max-width: 767.98px) {
    .hero .main-heading {
        font-size: 3rem;
        text-align: center;
        margin-top: 5rem
    }

    .hero .paragraph {
        font-size: 1.5rem;
        line-height: 3.4rem
    }

    .hero .col-lg-6 {
        height: auto
    }

    .hero-wrapper {
        padding: 5rem 0
    }

    .hero-img {
        width: 100%
    }

    .hero-img::before {
        -webkit-transform: scale(0.6) translate(-50%, 0);
        transform: scale(0.6) translate(-50%, 0);
        top: 0;
        left: 22.5%
    }
}

@media (max-width: 575.98px) {
    .hero-img img {
        width: 50%;
        height: 50%;
        -o-object-fit: cover;
        object-fit: cover
    }

    .hero-img::before {
        -webkit-transform: scale(1) translate(-50%, 0);
        transform: scale(1) translate(-50%, 0);
        top: 10%;
        left: 50%;
        width: 30rem;
        height: 30rem
    }
}

/*>>>>> End Hero Section <---------- */



.questions {
    width: 100vw
}

.questions__wrapper {
    background-color: #fef2f6;
    padding: 15rem 0;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem
}

.questions .section-heading {
    width: 50%
}

.questions .card {
    background-color: transparent;
    border: 0
}

.questions .card .card-header {
    border-radius: 0;
    background-color: transparent;
    border: 0;
    position: relative
}

.questions .card .card-header h5 button {
    font-size: 2.2rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    letter-spacing: -.02rem;
    line-height: 3rem;
    position: relative
}

.questions .card .card-header h5::before {
    content: "\f056";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 2.2rem;
    color: #f41a77;
    position: absolute;
    top: 50%;
    left: -1.2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: inline-block
}

.questions .card .card-header h5.hidden::before {
    content: "\f055"
}

.questions .card .card-body {
    background-color: white;
    border-radius: 2rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 4.2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1rem
}

.questions .card .card-body::before {
    content: "";
    width: 4.8rem;
    height: 2.2rem;
    background: url(../images/arrow.png) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: -2rem;
    left: 5rem
}

.questions .card .card-body .paragraph {
    color: #474b4c
}

.questions-img {
    display: flex;
    text-align: right;
    position: relative;
    align-items: center;
    justify-content: center;
}

.questions-img img {
    height: 30%;
    z-index: 10;
    position: relative;
    filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -moz-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2))
}

.questions-img::before {
    content: "";
    display: block;
    position: absolute;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #f2026b;
    background: linear-gradient(45deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
    background-size: 200% 200%;
    background-position: left bottom;
    filter: drop-shadow(0px 5px 40px #f54590);
    -webkit-filter: drop-shadow(0px 5px 40px #f54590);
    -moz-filter: drop-shadow(0px 5px 40px #f54590);
    -webkit-animation-name: animateGradient;
    animation-name: animateGradient;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@media (max-width: 991.98px) {
    .questions-img {
        text-align: center
    }

    .questions .section-heading {
        width: 100%
    }
}

@media (max-width: 991.98px) {
    .questions-img {
        width: 100%
    }

    .questions-img::before {
        -webkit-transform: scale(0.8) translate(-50%, 0);
        transform: scale(0.8) translate(-50%, 0);
        top: 0;
        left: 40%
    }

    .questions #accordion {
        padding: 0 2rem;
        margin-top: 5rem
    }
}

@media (max-width: 767.98px) {
    .questions__wrapper {
        width: calc(100% - 5rem);
        padding: 5rem 2rem
    }

    .questions-img {
        width: 100%
    }

    .questions-img::before {
        -webkit-transform: scale(0.6) translate(-50%, 0);
        transform: scale(0.6) translate(-50%, 0);
        top: 0;
        left: 22.5%
    }
}

@media (max-width: 575.98px) {
    .questions #accordion {
        padding: 0 1rem
    }

    .questions .card-header {
        width: 100%;
        font-size: 1.2rem
    }

    .questions .card-header h5 {
        width: 100%;
        font-size: 1.2rem
    }

    .questions .card-header h5 button {
        width: 100%;
        text-align: left;
        white-space: normal;
        font-size: 1.8rem !important
    }

    .questions-img img {
        width: 50%;
        height: 50%;
        -o-object-fit: cover;
        object-fit: cover
    }

    .questions-img::before {
        -webkit-transform: scale(1) translate(-50%, 0);
        transform: scale(1) translate(-50%, 0);
        top: 10%;
        left: 50%;
        width: 30rem;
        height: 30rem
    }
}


.fad.fa-lightbulb-on::before,
.fad.fa-search::before,
.fad.fa-angle-double-down::before {
    opacity: var(--fa-primary-opacity, 0.5)
}

.fad.fa-lightbulb-on::after,
.fad.fa-search::after,
.fad.fa-angle-double-down::after {
    opacity: var(--fa-secondary-opacity, 1)
}

.button {
    width: 27.1rem;
    height: 6.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border: 4px solid #c7dffa;
    border-radius: 10rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #666b6d;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    letter-spacing: .1rem
}

.button i {
    margin-left: 1rem;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.button:focus,
.button:hover {
    background-color: #c7dffa;
    color: white;
    outline: 0
}

.button:focus i,
.button:hover i {
    color: white
}

.button__wrapper {
    margin: 0 auto
}

.button__wrapper .button:nth-child(n+2) {
    margin-left: 1.8rem
}

@media (max-width: 650px) {
    .button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto
    }

    .button__wrapper {
        width: 100%
    }

    .button__wrapper .button:nth-child(n+2) {
        margin: 1rem auto 0 auto
    }
}

.social ul li {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-size: 200% 200% !important;
    background-position: center bottom !important;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.social ul li:nth-child(n+2) {
    margin-left: .4rem
}

.social ul li.facebook {
    background: #9341d4;
    background: -webkit-gradient(linear, left bottom, left top, from(#9341d4), color-stop(50%, #d98efb), to(#9341d4));
    background: linear-gradient(0deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
    filter: drop-shadow(0px 5px 5px rgba(147, 65, 212, 0.4));
    -webkit-filter: drop-shadow(0px 5px 5px rgba(147, 65, 212, 0.4));
    -moz-filter: drop-shadow(0px 5px 5px rgba(147, 65, 212, 0.4))
}

.social ul li.twitter {
    background: #ffb16b;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffb16b), color-stop(50%, #ffdb8d), to(#ffb16b));
    background: linear-gradient(0deg, #ffb16b 0%, #ffdb8d 50%, #ffb16b 100%);
    filter: drop-shadow(0px 5px 5px rgba(212, 154, 93, 0.4));
    -webkit-filter: drop-shadow(0px 5px 5px rgba(212, 154, 93, 0.4));
    -moz-filter: drop-shadow(0px 5px 5px rgba(212, 154, 93, 0.4))
}

.social ul li.linkedin {
    background: #19a5a1;
    background: -webkit-gradient(linear, left bottom, left top, from(#19a5a1), color-stop(50%, #63e8e4), to(#19a5a1));
    background: linear-gradient(0deg, #19a5a1 0%, #63e8e4 50%, #19a5a1 100%);
    filter: drop-shadow(0px 5px 5px rgba(108, 222, 220, 0.4));
    -webkit-filter: drop-shadow(0px 5px 5px rgba(108, 222, 220, 0.4));
    -moz-filter: drop-shadow(0px 5px 5px rgba(108, 222, 220, 0.4))
}

.social ul li.youtube {
    background: #f2026b;
    background: -webkit-gradient(linear, left bottom, left top, from(#f2026b), color-stop(50%, #ff8aaf), to(#f2026b));
    background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
    filter: drop-shadow(0px 5px 5px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 5px 5px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 5px 5px rgba(245, 69, 144, 0.4))
}

.social ul li a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2rem;
    color: white
}

.social ul li:hover {
    background-position: center top !important
}

.download-buttons a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 24.4rem;
    height: 8.1rem;
    background-color: grey;
    border-radius: 5rem;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    background-size: 200% 200% !important;
    background-position: center bottom !important
}

.download-buttons a i {
    font-size: 3.4rem;
    color: white
}

.download-buttons a .button-content {
    margin-left: 1.3rem;
    letter-spacing: .1rem
}

.download-buttons a .button-content h6 {
    font-size: 1.2rem;
    color: #ffd4e3
}

.download-buttons a .button-content span {
    display: block;
    font-size: 2rem;
    color: white;
    margin-top: .2rem;
    letter-spacing: initial
}

.download-buttons a:last-child .button-content h6 {
    color: #bbdef9
}

.download-buttons a.google-play {
    background: #f2026b;
    background: -webkit-gradient(linear, left bottom, left top, from(#f2026b), color-stop(50%, #ff8aaf), to(#f2026b));
    background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
    filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4))
}

.download-buttons a.apple-store {
    background: #1369ec;
    background: -webkit-gradient(linear, left bottom, left top, from(#1369ec), color-stop(50%, #65bef4), to(#1369ec));
    background: linear-gradient(0deg, #1369ec 0%, #65bef4 50%, #1369ec 100%);
    filter: drop-shadow(0px 10px 10px rgba(33, 120, 237, 0.4));
    -webkit-filter: drop-shadow(0px 10px 10px rgba(33, 120, 237, 0.4));
    -moz-filter: drop-shadow(0px 10px 10px rgba(33, 120, 237, 0.4))
}

.download-buttons a:hover {
    background-position: center top !important
}



.feature {
    width: 100vw;
    padding: 15rem 0
}

.feature .section-heading {
    margin-bottom: 5rem
}

.feature__box {
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.feature__box--2,
.feature__box--4 {
    margin-top: 10rem
}

.feature__box--2:hover,
.feature__box--4:hover {
    margin-top: 0
}

.feature__box--1:hover,
.feature__box--3:hover {
    margin-top: 10rem
}

.feature__box--1 .feature__box__wrapper {
    background-color: #efdff7
}

.feature__box--2 .feature__box__wrapper {
    background-color: #ffe8c6
}

.feature__box--3 .feature__box__wrapper {
    background-color: #d0f3f2
}

.feature__box--4 .feature__box__wrapper {
    background-color: #ffdae8
}

.feature__box .icon {
    width: 24.2rem;
    height: 24.2rem;
    margin: 0 auto;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.feature__box .icon-1 {
    background: #9341d4;
    background: linear-gradient(45deg, #9341d4 0%, #d98efb 100%);
    filter: drop-shadow(0px 40px 15px rgba(147, 65, 212, 0.4));
    -webkit-filter: drop-shadow(0px 40px 15px rgba(147, 65, 212, 0.4));
    -moz-filter: drop-shadow(0px 40px 15px rgba(147, 65, 212, 0.4))
}

.feature__box .icon-2 {
    background: #ffdb8d;
    background: linear-gradient(45deg, #ffb16b 0%, #ffdb8d 100%);
    filter: drop-shadow(0px 40px 15px rgba(255, 186, 114, 0.4));
    -webkit-filter: drop-shadow(0px 40px 15px rgba(255, 186, 114, 0.4));
    -moz-filter: drop-shadow(0px 40px 15px rgba(255, 186, 114, 0.4))
}

.feature__box .icon-3 {
    background: #63e8e4;
    background: linear-gradient(45deg, #19a5a1 0%, #63e8e4 100%);
    filter: drop-shadow(0px 40px 15px rgba(79, 188, 186, 0.4));
    -webkit-filter: drop-shadow(0px 40px 15px rgba(79, 188, 186, 0.4));
    -moz-filter: drop-shadow(0px 40px 15px rgba(79, 188, 186, 0.4))
}

.feature__box .icon-4 {
    background: #ff8aaf;
    background: linear-gradient(45deg, #f2026b 0%, #ff8aaf 100%);
    filter: drop-shadow(0px 40px 15px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 40px 15px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 40px 15px rgba(245, 69, 144, 0.4))
}

.feature__box .icon i {
    font-size: 8rem;
    color: white
}

.feature__box__wrapper {
    width: 100%;
    padding: 5.7rem .5rem .5rem .5rem;
    border-radius: 2.5rem;
    margin-top: 5rem
}

.feature__box--content {
    background-color: white;
    position: relative;
    padding: 3.7rem 2rem 2.1rem 2rem;
    border-radius: 2rem;
    text-align: center
}

.feature__box--content::before {
    content: "";
    width: 4.8rem;
    height: 2.2rem;
    background: url(../images/arrow.png) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%)
}

.feature__box--content h3 {
    font-size: 2.2rem;
    font-weight: 600;
    width: 80%;
    margin: 0 auto 3.4rem auto
}

@media (max-width: 991.98px) {
    .feature__box {
        margin-top: 5rem !important
    }
}

@media (max-width: 575.98px) {
    .feature {
        padding: 10rem 2rem
    }
}

.growth {
    width: 100vw
}

.growth__wrapper {
    background-color: #f0f7fc;
    padding: 15rem 0;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem
}

.growth .section-heading {
    text-align: center;
    margin: 0 auto 5rem auto
}

.growth__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.growth__box .icon {
    width: 11.9rem;
    height: 11.9rem;
    background: #daecf9;
    background: -webkit-gradient(linear, left bottom, left top, from(#daecf9), to(#fff));
    background: linear-gradient(0deg, #daecf9 0%, #fff 100%);
    border-radius: 50%;
    filter: drop-shadow(0px 30px 20px rgba(42, 129, 238, 0.2));
    -webkit-filter: drop-shadow(0px 30px 20px rgba(42, 129, 238, 0.2));
    -moz-filter: drop-shadow(0px 30px 20px rgba(42, 129, 238, 0.2));
    position: relative;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.growth__box .icon i {
    font-size: 5rem;
    color: #3890f0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.growth__box .content {
    width: 72%;
    background-color: white;
    position: relative;
    border-radius: 2rem;
    padding: 3.7rem 6.2rem 2.5rem 4rem
}

.growth__box .content h3 {
    font-size: 2.2rem;
    font-weight: 600;
    width: 80%
}

.growth__box:hover .icon {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

@media (min-width: 768px) {
    .growth .row>div:nth-child(odd) .growth__box .content::before {
        content: "";
        width: 4.8rem;
        height: 2.2rem;
        background: url(../images/arrow.png) no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        left: -3.3rem;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        -webkit-transform: translateY(-50%) rotate(-90deg)
    }
}

@media (min-width: 991.98px) {
    .growth .row>div:nth-child(even) .growth__box .icon {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }

    .growth .row>div:nth-child(even) .growth__box .content {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .growth .row>div:nth-child(even) .growth__box .content::after {
        content: "";
        width: 4.8rem;
        height: 2.2rem;
        background: url(../images/arrow.png) no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        right: -3.3rem;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        -webkit-transform: translateY(-50%) rotate(90deg)
    }
}

.growth .row>div:nth-child(n+3) {
    margin-top: 3rem
}

.growth .button__wrapper {
    margin-top: 5rem
}

.growth .button__wrapper a {
    background: #1369ec;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(19, 105, 236, 0)), color-stop(50%, rgba(255, 177, 107, 0)), color-stop(51%, #1369ec), to(#65bef4));
    background: linear-gradient(0deg, rgba(19, 105, 236, 0) 0%, rgba(255, 177, 107, 0) 50%, #1369ec 51%, #65bef4 100%);
    background-size: 200% 200%;
    background-position: center bottom
}

.growth .button__wrapper a:hover {
    background-position: center top;
    border: none;
    filter: drop-shadow(0px 10px 20px rgba(33, 120, 237, 0.4));
    -webkit-filter: drop-shadow(0px 10px 20px rgba(33, 120, 237, 0.4));
    -moz-filter: drop-shadow(0px 10px 20px rgba(33, 120, 237, 0.4))
}

@media (min-width: 991.98px) and (max-width: 1200px) {
    .growth__box .content {
        width: 68%
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .growth__wrapper {
        padding: 5rem 2rem
    }

    .growth__box .content {
        width: 75%
    }

    .growth .row>div:nth-child(n+1) {
        margin-top: 5rem
    }

    .growth .row>div:nth-child(even) .growth__box .content::before {
        content: "";
        width: 4.8rem;
        height: 2.2rem;
        background: url(../images/arrow.png) no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        left: -3.3rem;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        -webkit-transform: translateY(-50%) rotate(-90deg)
    }
}

@media (max-width: 768px) {
    .growth__wrapper {
        width: calc(100% - 5rem);
        padding: 5rem 2rem
    }

    .growth__box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .growth__box .content {
        width: 100%;
        margin-top: 5rem;
        text-align: center
    }

    .growth__box .content h3 {
        width: 100%
    }

    .growth__box .content::before {
        content: "";
        width: 4.8rem;
        height: 2.2rem;
        background: url(../images/arrow.png) no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%)
    }

    .growth .row>div:nth-child(n+2) {
        margin-top: 5rem
    }
}

.step {
    width: 100vw;
    margin-top: 3rem
}

.step__wrapper {
    margin: 5rem 0;
    background-color: #fff6e9;
    padding: 15rem 0;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem
}

.step .section-heading {
    text-align: center;
    margin: 0 auto 5rem auto
}

.step__box {
    text-align: center
}

.step__box .image {
    width: 100%;
    filter: drop-shadow(0px 40px 20px rgba(255, 186, 114, 0.4));
    -webkit-filter: drop-shadow(0px 40px 20px rgba(255, 186, 114, 0.4));
    -moz-filter: drop-shadow(0px 40px 20px rgba(255, 186, 114, 0.4))
}

.step__box .image img {
    width: 100%
}

.step__box .content {
    margin-top: 4.5rem
}

.step__box .content h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #f41675;
    margin-bottom: 2.5rem;
    line-height: -4rem;
    letter-spacing: .1rem
}

.step__box .content h3 span {
    display: block;
    font-size: 4rem;
    color: #000;
    letter-spacing: initial
}

.step__box .content .paragraph {
    width: 94%
}

.step .button {
    border: 4px solid #ffd588
}

.step .button:focus,
.step .button:hover {
    background-color: #ffd588
}

.step .button__wrapper {
    margin-top: 3.4rem
}

.step .button__wrapper {
    margin-top: 5rem
}

.step .button__wrapper a {
    background: #1369ec;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(19, 105, 236, 0)), color-stop(50%, rgba(255, 177, 107, 0)), color-stop(51%, #ffb16b), to(#ffdb8d));
    background: linear-gradient(0deg, rgba(19, 105, 236, 0) 0%, rgba(255, 177, 107, 0) 50%, #ffb16b 51%, #ffdb8d 100%);
    background-size: 200% 200%;
    background-position: center bottom
}

.step .button__wrapper a:hover {
    background-position: center top;
    border: none;
    filter: drop-shadow(0px 10px 20px rgba(255, 186, 114, 0.4));
    -webkit-filter: drop-shadow(0px 10px 20px rgba(255, 186, 114, 0.4));
    -moz-filter: drop-shadow(0px 10px 20px rgba(255, 186, 114, 0.4))
}

@media (max-width: 991.98px) {
    .step__wrapper {
        padding: 5rem 0
    }

    .step__box .image img {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        width: auto;
        margin: 0 auto
    }

    .step__box .content {
        margin: 0
    }

    .step__box .content .paragraph {
        width: 60%;
        margin: 0 auto
    }
}

@media (max-width: 768px) {
    .step__wrapper {
        width: calc(100% - 5rem);
        padding: 5rem 2rem
    }
}


.screenshot {
    width: 100vw
}

.screenshot__wrapper {
    background-color: #f0f7fc;
    margin: 0 auto;
    overflow: visible;
    padding: 15rem 0;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem
}

.screenshot-slider {
    width: 100vw;
    margin-top: 9.8rem;
    margin-left: -2.5%;
    overflow: visible !important
}

.screenshot-slide {
    text-align: center;
    opacity: .4;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.4));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.4));
    -moz-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.4))
}

.screenshot .swiper-slide-active {
    opacity: 1
}

.screenshot__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.screenshot-nav-prev,
.screenshot-nav-next {
    display: inline-block;
    cursor: pointer
}

.screenshot-nav-prev i,
.screenshot-nav-next i {
    font-size: 5rem;
    color: #8e9a9d;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.screenshot-nav-prev:hover i,
.screenshot-nav-next:hover i {
    color: #ff0087
}

.screenshot-nav-prev:focus,
.screenshot-nav-next:focus {
    outline: 0
}

.screenshot-nav-next {
    margin-left: 4rem
}

@media (max-width: 991.98px) {
    .screenshot__wrapper {
        width: calc(100% - 5rem)
    }

    .screenshot__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .screenshot-slide {
        text-align: center
    }

    .screenshot-slide a {
        margin: 0 auto
    }

    .screenshot-slider {
        margin-left: 0;
        width: 100%;
        margin-top: 5rem
    }
}





/*--==========>>>>> Start Modal Section Area --*/
.modal-body {
    position: relative;
    border-radius: 0px;
}

.modal-body .btn-close {
    position: absolute;
    width: 0.4em;
    height: 0.4em;
    top: 15px;
    right: 15px;
}

/*-- Start Authentication Modal Area --*/
#authentication-modal .modal-dialog,
#password-recovery-modal .modal-dialog {
    max-width: 575px;
}

#authentication-modal .modal-body {
    padding: 0px;
}

/* Start Auth Tab Area */
#authentication-modal .modal-body .form-tab {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    padding: 2rem 2rem;
}

#authentication-modal .modal-body .form-tab .nav.nav-tabs {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 15px;
}

#authentication-modal .modal-body .form-tab .nav.nav-tabs .nav-item {
    margin-bottom: 0px;
}

#authentication-modal .modal-body .form-tab .nav.nav-tabs .nav-item .nav-link {
    font-weight: 600;
    font-size: var(--font18);
    color: var(--text-black);
    line-height: 1.5;
    letter-spacing: -0.01em;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: all 0.35s ease;
}

#authentication-modal .modal-body .form-tab .nav.nav-tabs .nav-item .nav-link:hover,
#authentication-modal .modal-body .form-tab .nav.nav-tabs .nav-item .nav-link:focus {
    color: var(--brand-color);
}

#authentication-modal .modal-body .form-tab .nav.nav-tabs .nav-item .nav-link:focus {
    outline: none !important;
}

#authentication-modal .modal-body .form-tab .nav.nav-tabs .nav-item .nav-link.active {
    border-radius: 0px;
    color: var(--brand-color);
    border-bottom-color: var(--brand-color);
}

/* Start Custom Form Area */

#authentication-modal .modal-body .form-tab .form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
}

#authentication-modal .modal-body .form-tab .form-footer .forgot-link {
    cursor: pointer;
    font-size: var(--font14);
    color: var(--brand-color);
    margin-bottom: 1rem;
}

#authentication-modal .modal-body .form-tab .form-footer .custom-checkbox {
    display: flex;
    align-items: center;
}

#authentication-modal .modal-body .form-tab .form-footer .custom-checkbox .custom-control-label {
    font-size: var(--font14);
    color: var(--black);
    margin-left: 5px;
}

#authentication-modal .modal-body .form-tab .form-footer .custom-checkbox .custom-control-label a {
    color: var(--brand-color);
}

/* Start Auth Social Area */
#authentication-modal .modal-body .form-tab .auth-social p {
    font-weight: 400;
    font-size: var(--font14);
    color: var(--low-black);
    margin-bottom: 1rem;
}

#authentication-modal .modal-body .form-tab .auth-social .btn.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: var(--font14);
    color: var(--text-black);
    padding: .3rem 1rem;
    border: 1px solid var(--border-color);
}

#authentication-modal .modal-body .form-tab .auth-social .btn.btn-login:hover,
#authentication-modal .modal-body .form-tab .auth-social .btn.btn-login:focus {
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

#authentication-modal .modal-body .form-tab .auth-social .btn.btn-login img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#authentication-modal .modal-body .form-tab .auth-social .col-sm-6:not(:last-child) {
    margin-bottom: 0.6rem;
}

@media screen and (min-width: 576px) {
    #authentication-modal .modal-body .form-tab .auth-social .col-sm-6:not(:last-child) {
        margin-bottom: 0;
    }
}

#password-recovery-modal .modal-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    padding: 2rem 2rem;
}

#password-recovery-modal .modal-body h5 {
    font-weight: 600;
    font-size: var(--font18);
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid var(--brand-color);
    margin-bottom: 15px;
}

/*-- Start Manage Address Modal --*/
#manage-address-modal .modal-dialog {
    max-width: 575px;
}

#manage-address-modal .modal-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    padding: 2rem 2rem;
}

#manage-address-modal .modal-body .modal-title {
    font-weight: 600;
    font-size: var(--font18);
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid var(--brand-color);
    margin-bottom: 15px;
}

#manage-address-modal .modal-body .btn-primary.outline {
    font-size: var(--font16);
    color: var(--brand-color);
    width: 100%;
}

#manage-address-modal .modal-body .address-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    padding: 15px;
    margin-bottom: 15px;
}

#manage-address-modal .modal-body .address-card span.material-icons-round {
    cursor: pointer;
    color: var(--red);
}

#manage-address-modal .modal-body .address-card .shipping-address-card {
    display: flex;
    align-items: center;
}

#manage-address-modal .modal-body .address-card .shipping-address-card input {
    margin-right: 15px;
}

#manage-address-modal .modal-body .address-card .shipping-address-card h5 {
    font-size: var(--font16);
    color: var(--text-black);
}

#manage-address-modal .modal-body .address-card .shipping-address-card p {
    font-size: var(--font14);
    color: var(--text-black);
}

#manage-address-modal .modal-body .address-card .shipping-address-card .form-check-input:focus {
    box-shadow: none;
}

#manage-address-modal .modal-body .address-card .shipping-address-card .form-check-input:checked {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

#manage-address-modal .modal-body #add-new-address {
    margin-top: 20px;
    padding: 0px;
}

#manage-address-modal .modal-body #add-new-address .card-body {
    border-radius: 4px;
    border: none;
    background-color: var(--ice-white);
}

/*--==========>>>>> Start Breadcrumbs Area --*/
.breadcrumbs {
    border-bottom: 1px dotted var(--brand-color);
    padding: 20px 0px;
    /* margin-bottom: 30px; */
}

.breadcrumbs .bread-list {
    display: flex;
    align-items: center;
    margin: 0px;
}

.breadcrumbs .bread-list li {
    display: flex;
    align-items: center;
}

.breadcrumbs .bread-list li span {
    margin: 0px 10px;
    font-size: var(--font18);
    font-weight: 600;
    color: var(--text-black);
}

.breadcrumbs .bread-list li a {
    color: var(--text-black);
    font-size: var(--font14);
    font-weight: 400;
    text-transform: capitalize;
}

.breadcrumbs .bread-list li.active a {
    color: var(--brand-color);
}

.breadcrumbs .bread-list li a:hover {
    color: var(--brand-color);
}

/*-- End Breadcrumbs Area <<<<<==========--*/

/*--==========>>>>> End Profile Card Area --*/
.profile-card {
    background: var(--goldish-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.profile-card .user-img {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid var(--brand-color);
    overflow: hidden;
}

.profile-card .user-img img {
    height: 100%;
    width: 100%;
}

.profile-card .user-img input[type=file] {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    z-index: 2;
    opacity: 0;
}

.profile-card .user-img .upload-btn {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    font-size: var(--font14);
    font-weight: 600;
    color: var(--text-black);
    background-color: var(--brand-color);
    z-index: 1;
    opacity: .8;
}

.profile-card .user-name {
    margin-top: 15px;
    font-size: var(--font16);
    color: var(--text-black);
}

/*-- End Profile Card Area <<<<<==========--*/


.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.empty-state .illustration {
    height: 350px;
    width: 350px;
    margin-bottom: 15px;
}

.empty-state h5 {
    color: var(--text-black);
    font-size: var(--font18);
}

/*-- End Empty State Area <<<<<==========--*/

.terms-header {
    font-size: var(--font22);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--black);
    padding: 30px 0;
    margin-top: -30px;
}

.terms-content h5 {
    font-weight: 600;
    font-size: var(--font16);
    color: var(--text-black);
    line-height: 30px;
    margin-top: 30px;
}

.terms-content p {
    font-size: var(--font14);
    color: var(--text-black);
    line-height: 30px;
}

/*-- End Trams & Condition Area <<<<<==========--*/

#multi-item-carousel {
    margin-top: -62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glide__slides li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-box {
    height: 124px;
    width: 100%;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 4px;
    border-radius: 100px;
    border: 8px solid var(--white);
    background-color: var(--border-color);
}

.payment-box:hover {
    opacity: 1;
}

.payment-box img {
    height: 56px;
    width: 56px;
}

.payment-box .payment-title {
    font-size: var(--font14);
    color: var(--primary-black);
    font-weight: 600;
}