@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --brand-color-100: #62D68F;
  --brand-color-75: #89E0AB;
  --brand-color-50: #B0EBC7;
  --brand-color-25: #D8F5E3;
  --brand-color-15: #E7F9EE;
  --brand-color-10: #EFFBF4;
  --white: #ffffff;
  --primary-black: #172B4D;
  --secondary-black: #71828A;
  --border-color: #e4edf4;
  --ice-whiteApp: #F7FBFD;
  --ice-whiteWeb: #F3F5F9;
  --red: #df2a43;
  --redish-white: #f5bec6;
  --font32: 32px;
  --font28: 28px;
  --font24: 24px;
  --font22: 22px;
  --font20: 20px;
  --font18: 18px;
  --font16: 16px;
  --font14: 14px;
  --font12: 12px;
  --font10: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden !important
}

/*>>>>> Start Animation Area <---------- */

@-webkit-keyframes featureImgBounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes featureImgBounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

/* Start BG Animaption */
@-webkit-keyframes animateGradient {
  0% {
    background-position: left bottom
  }

  50% {
    background-position: right top
  }

  100% {
    background-position: left bottom
  }
}

@keyframes animateGradient {
  0% {
    background-position: left bottom
  }

  50% {
    background-position: right top
  }

  100% {
    background-position: left bottom
  }
}

/* ----------> End Animation Area <<<<<*/

/*>>>>> Text & Header Area <---------- */
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}

a,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.section-heading {
  color: var(--primary-black);
  font-weight: 600;
  font-size: 40px;
  width: 68%;
  line-height: -20px;
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .section-heading {
    font-size: 20px;
    text-align: center;
    margin: 0 auto 50px auto;
    width: 85%
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .section-heading {
    font-size: var(--font20);
    width: 90%
  }
}

.section-header h5 {
  color: var(--primary-black);
  font-size: var(--font16);
}

.section-header hr.colorgraph {
  height: 4px;
  border-top: 0;
  background: #c4e17f;
  background: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.paragraph {
  font-size: var(--font14);
}

.paragraph.dark {
  color: var(--secondary-black)
}

.paragraph.white {
  color: var(--white)
}

/* ----------> End Text & Header Area <<<<<*/

/*>>>>> Start Button Style Area <---------- */
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: var(--font16);
  background-color: var(--brand-color-100);
  border-color: var(--brand-color-100);
  border-radius: 12px;
  height: 60px;
  width: 100%;
  padding: 12px 24px;
}

.btn-primary:hover {
  background-color: var(--brand-color-100);
  border-color: var(--brand-color-100);
}

.btn-primary.outline {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-black);
  font-weight: 600;
  font-size: var(--font14);
  background-color: var(--white);
  border-color: var(--brand-color-100);
  border-radius: 4px;
  height: 40px;
  min-width: 150px;
}

.btn-primary.outline:hover {
  color: var(--primary-black);
  background-color: var(--white);
  border-color: var(--brand-color-100);
}

.btn-primary:focus,
.btn-primary.outline:focus {
  outline: none;
  box-shadow: none;
}

/* Outline Animated BTN */
.btn-outline {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 220px;
  padding: 0 32px;
  font-size: var(--font16);
  background: var(--white);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  border: 2px solid var(--brand-color-100);
  color: var(--brand-color-100);
  -webkit-box-shadow: 0 10px 15px 0 rgba(3, 35, 68, .1);
  box-shadow: 0 10px 15px 0 rgba(3, 35, 68, .1);
}

.btn-outline:hover {
  color: var(--white);
  background: var(--brand-color-100);
  border: 2px solid var(--brand-color-100);
}

.circle,
a {
  -webkit-transition: 1.2s cubic-bezier(.17, .85, .438, .99);
  -o-transition: 1.2s cubic-bezier(.17, .85, .438, .99);
  transition: 1.2s cubic-bezier(.17, .85, .438, .99)
}

span.circle {
  background: rgba(255, 255, 255, .2);
  display: block;
  position: absolute;
  top: -10%;
  right: -130px;
  width: 200px;
  height: 200px;
  border-radius: 50%
}

.btn-outline:hover span.circle {
  top: -10%;
  right: -80px
}

span.circle2 {
  background: rgba(255, 255, 255, .2);
  display: block;
  position: absolute;
  top: -10%;
  right: -50px;
  width: 80px;
  height: 80px;
  border-radius: 50%
}

/* ----------> End Button Style Area <<<<<*/

/*>>>>> Start Input CSS Area <---------- */

.form-group,
.form-group.custom-select {
  width: 100%;
  position: relative;
  background: var(--ice-whiteApp);
  padding: 12px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.form-group:hover,
.form-group.custom-select:hover {
  background: var(--ice-whiteApp);
  border-color: var(--brand-color-100);
}

.form-group .form-label,
.form-group.custom-select .form-label {
  font-size: 12px;
  color: var(--secondary-black);
  margin-bottom: 0px;
}

.form-group .form-control,
.form-group.custom-select .select-selected {
  padding: 0px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-black);
  background-color: transparent;
  padding: 8px 0px 12px 0px;
}

.form-group.custom-select .select-selected::after {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
  content: url('../images/Dropdown.svg');
}

.form-group .form-control::-moz-placeholder {
  font-weight: 500;
  color: #aac0d9;
}

.form-group .form-control:-ms-input-placeholder {
  font-weight: 500;
  color: #aac0d9;
}

.form-group .form-control::placeholder {
  font-weight: 500;
  color: #aac0d9;
}

.form-group .form-control:focus,
.form-group .form-select:focus {
  box-shadow: none;
}

/* Style for the custom select container */
.form-group.custom-select .select-selected {
  cursor: pointer;
}

.form-group.custom-select .select-items {
  z-index: 1;
  display: none;
  border-radius: 12px;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 3px 11px rgba(48, 105, 174, .08);
}

.form-group.custom-select .select-items div {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-black);
  padding: 16px 16px;
  cursor: pointer;
}

.form-group.custom-select .select-items div:hover {
  background-color: var(--border-color);
}

/* ----------> End Input CSS Area <<<<<*/

/*>>>>> Start Admin Layout Area <---------- */
@media (max-width: 575.98px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.master-layout {
  margin-top: 93px;
  height: 100%;
  padding: 40px 0px;
  min-height: calc(100vh - 93px);
  background-color: var(--ice-whiteWeb);
}

.master-layout-fixed {
  margin-top: 93px;
  height: calc(100vh - 93px);
  background-color: var(--ice-whiteWeb);
}

.layout-body {
  height: 100%;
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
}

.layout-sidebar {
  padding-top: 16px;
  height: 100%;
  margin-right: 16px;
}

.layout-details {
  padding: 16px 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.layout-details::-webkit-scrollbar {
  display: none;
}

.layout-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  min-height: 100%;
  background-color: var(--white);
  padding: 0px 24px 16px 24px;
}

@media (max-width: 640px) {
  .layout-sidebar {
    margin-right: 0px;
  }
}

/* ----------> End Admin Layout Area <<<<<*/

/* >>>>> Start Header Sction Area ---------- */
.header {
  position: absolute;
  top: 50px;
  z-index: 100;
  background-color: transparent;
  padding: 40px 0 40px 0;
  width: 100%;
}

.header.fixed,
.headerScroll.fixed {
  position: fixed;
  top: 0;
  background: linear-gradient(90.25deg, hsla(0, 0%, 98.8%, .35) 5.68%, hsla(0, 0%, 98.8%, .3) 143.91%);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding: 16px 0px;
  border-bottom: 1px solid var(--white);
  box-shadow: 0 3px 11px rgba(48, 105, 174, .08);
}

.header-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.header-logo img {
  height: 60px;
}

.header-logo h1 {
  flex-basis: 95%;
  font-weight: 800;
  font-size: var(--font20);
  line-height: 24px;
  color: var(--primary-black);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav .nav-items {
  margin-bottom: 0;
}

.header-nav .nav-items>li {
  list-style: none;
  display: inline-block;
}

.header-nav .nav-items>li:first-child a {
  font-weight: 800;
  color: var(--brand-color-100);
}

.header-nav .nav-items>li:nth-child(n+2) {
  margin-left: 16px;
}

.header-nav .nav-items li a {
  font-size: var(--font14);
  color: var(--primary-black);
  font-weight: 600 !important;
  position: relative;
}

.header-nav .nav-items li>a::before {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  border-radius: 100px;
  background-color: var(--brand-color-100);
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.header-nav .nav-items>li>a:hover::before {
  width: calc(100% - 16px);
}

/* Start Dropdown Area */
.nav-dropdown {
  position: relative;
  width: auto;
  z-index: 100;
}

.nav-dropdown .dropdown-head::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 100%;
}

.nav-dropdown .dropdown-items {
  display: block;
  border: 4px solid var(--border-color);
  border-radius: 20px;
  width: 250px;
  padding: 20px;
  z-index: 1000;
  position: absolute;
  top: 100px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  background-color: var(--white);
}

.nav-dropdown:hover .dropdown-items {
  top: 0px !important;
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transform: translateY(50px);
  transform: translateY(50px)
}

.nav-dropdown .dropdown-items::before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/corner.svg) no-repeat;
  width: 34px;
  height: 43px;
  background-size: cover;
  top: -22px;
  right: -4px;
}

.nav-dropdown .dropdown-items li a {
  font-size: var(--font14);
  font-weight: 500;
  color: var(--secondary-black);
  border-radius: 20px;
  position: relative;
  padding: 10px 0px 10px 20px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: block
}

.nav-dropdown .dropdown-items li:hover a {
  color: var(--primary-black);
  background-color: var(--border-color);
}

/* End Dropdown Area */

.mobile-hamburger {
  display: none;
}

.btn-group2 {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.login-btn {
  padding: 0px 24px;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--brand-color-100);
  border-radius: 10px;
  font-size: var(--font14);
  font-weight: 600;
  color: var(--secondary-black);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  letter-spacing: 1px;
}

.user-btn {
  cursor: pointer;
  padding: 0px 20px 0px 10px;
  height: 60px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  background: var(--brand-color-15);
  border: 2px solid var(--brand-color-15);
  border-radius: 500px;
  font-size: var(--font14);
  font-weight: 600;
  color: var(--primary-black);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  letter-spacing: 1px;
  position: relative;
}

.user-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-btn img {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  border: 2px solid var(--brand-color-100);
  margin-right: 10px;
}

/* Styles specific to screens with a maximum width of 991.98px or less */
@media (max-width: 991.98px) {
  .header {
    position: fixed;
    top: 0;
    background: linear-gradient(90.25deg, hsla(0, 0%, 98.8%, .35) 5.68%, hsla(0, 0%, 98.8%, .3) 143.91%);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    padding: 16px 0px;
    border-bottom: 1px solid var(--white);
  }

  .login-btn {
    display: none;
  }

  .login-btn.show {
    padding: 0px 24px;
    height: 60px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--brand-color-25);
    border: 2px solid var(--brand-color-100);
    border-radius: 10px;
    font-size: var(--font14);
    font-weight: 600;
    color: var(--secondary-black);
  }

  .header-nav .nav-items {
    display: none;
  }

  .nav-dropdown {
    display: none;
  }

  .mobile-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    color: var(--brand-color-100);
    font-size: 32px;
    background-color: var(--brand-color-10);
    border: 1px solid var(--brand-color-25);
  }

}

@media (max-width: 640px) {

  .header-logo h1 {
    font-size: var(--font16);
    font-weight: 800;
    color: var(--primary-black);
    padding: 0px;
    margin: 0px;
  }
}

/* <<<<< End Header Sction Area ------------ */

/* >>>>> Start Footer Sction Area ---------- */
.footer-section {
  background: linear-gradient(118.64deg, rgba(98, 214, 143, .2) -4.78%, hsla(0, 0%, 100%, .6) 64.5%, rgba(98, 214, 143, .4) 111.91%);
  box-shadow: 0 -4px 17px rgba(78, 75, 102, .15);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 40px 40px 0 0;
  padding: 40px 0px 0px 0px;
  position: relative;
  overflow: hidden;
}

.footer-widget {
  margin-bottom: 16px;
  overflow: hidden;
}

.footer-widget h2 {
  font-weight: 700;
  font-size: var(--font16);
  text-transform: uppercase;
  color: var(--primary-black);
  margin-bottom: 16px;
}

.footer-widget p {
  line-height: 2;
  font-size: var(--font14);
  color: var(--secondary-black);
}

.footer-widget ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px 16px 0px 0px;
}

.footer-widget ul:last-child {
  margin-right: 0;
}

.footer-widget ul li a {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: var(--font14);
  color: var(--secondary-black);
  margin-bottom: 8px;
}

.footer-widget ul li a:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--brand-color-100);
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-widget ul li a:hover {
  color: var(--primary-black);
}

.footer-widget ul li a:hover:after {
  width: 8px;
  height: 8px;
  background: var(--brand-color-100);
}

.footer-widget .google-play-btn {
  display: flex;
  align-items: center;
  height: 68px;
  min-width: 180px;
  width: 100%;
  border-radius: 12px;
  background-color: var(--white);
}

.footer-widget .google-play-btn img {
  height: 28px;
  margin-left: 24px;
}

.footer-section .getway-img {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 100%;
  padding: 16px;
  border-radius: 24px;
  border: 1px solid var(--border-color);
  background: linear-gradient(90.25deg, hsla(0, 0%, 98.8%, .6) 5.68%, hsla(0, 0%, 98.8%, .6) 143.91%);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.footer-section .copyright {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font12);
  color: var(--primary-black);
  border-top: 1px solid var(--border-color);
}

.footer-section .copyright a {
  color: var(--brand-color-100);
  font-size: var(--font12);
}

/* <<<<< End Footer Sction Area ---------- */



/* >>>>> Start Modal Area ---------- */
.modal-body {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0px;
}

.modal-body .btn-close {
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  top: 15px;
  right: 15px;
}

.modal-header {
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header .modal-title {
  font-size: var(--font18);
  color: var(--primary-black);
}

.modal-header button {
  color: var(--secondary-black);
  font-size: var(--font12);
  color: var(--primary-black);
  background-color: transparent;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.modal-header button:hover {
  background-color: var(--border-color);
  color: var(--primary-black);
}

.modal-content .modal-body {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content .modal-body img {
  width: 100%;
}

.modal-footer {
  padding: 16px;
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <<<<< End Modal Area ---------- */

/* >>>>> Start Table Style Area ---------- */
.table thead tr {
  font-size: var(--font14);
  border-bottom: 1px solid var(--border-color);
}

.table tbody tr {
  height: 48px;
  font-size: var(--font14);
  border-bottom: 1px solid var(--border-color);
}

.table tr th {
  text-transform: uppercase;
  color: var(--brand-color-100);
}

.table tr td {
  color: var(--primary-black);
}
/* <<<<< End Table Style Area ---------- */